{% load staticfiles %}

<html >
  <head>
    <meta charset="UTF-8">
    <title>turntable</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<script src ="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.14/d3.js"></script>
    
    <script src="https://hammerjs.github.io/dist/hammer.js"></script>
    
        <link rel="stylesheet" href="../../static/css/page1_sec.css">

    
    
    
  </head>

  <body>

        <video muted autoplay  poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" loop>
  <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
<source src="//demosthenes.info/assets/videos/polina.webm" type="video/webm">
<source src="{{MEDIA_URL}}v4.mp4" type="video/mp4">

</video>
<img id="pattern" src="../../static/images/Untitled-1.png"/>
        <script src="../../static/js/page1_sec.js"></script>

    
    
    
  </body>
</html>
