{%load staticfiles%}
<html>
<head>
	<title>TurnTabels</title>
	<link rel="stylesheet" type="text/css" href="../../static/css/page1.css">
    <script src="../../static/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="../../static/js/page1scr.js">
    var n= {{noOfCategory}}
    </script>
</head>
<body>

	<div id="wrapper1">
		
		   		
		   		
		
	</div>
<script type="text/javascript" src="../../static/js/propeller.js"></script>
<script>
	var n= {{noOfCategory}}
    	new Propeller(document.getElementById('wrapper1'), {inertia: .95});    
</script>

</body>
</html>