{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rotate HTML elements by mouse in JavaScript - Propeller.js</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/test.css' %}">
    
</head>
<body>

   
            <div id="wrapper">
        <div class="circle-container">
            <div class="circle"><img src="{% static 'images/chinese.jpg'%}" width="100" height="100">Chinese</div>
            <div class="circle"><img src="{% static 'images/drinks.jpg'%}" width="100" height="100">Drinks</div>
            <div class="circle"><img src="http://us.123rf.com/450wm/lenyvavsha/lenyvavsha1412/lenyvavsha141200022/34249948-delicious-rice-noodles-with-shrimp-and-vegetables-macro-on-a-plate.jpg" width="100" height="100"></div>
            <div class="circle"><img src="http://us.123rf.com/450wm/lenyvavsha/lenyvavsha1412/lenyvavsha141200016/34249938-delicious-rice-noodles-with-shrimp-and-vegetables-close-up-on-a-plate.jpg" width="100" height="100"></div>
            <div class="circle"><img src="http://us.123rf.com/450wm/dariazu/dariazu1407/dariazu140700022/29990134-fried-rice-with-seafood-asian-cuisine-thai-spicy-food-square-composition-top-view.jpg" alt="Smiley face" width="100" height="100"></div>
        </div>
    </div>

<script type="text/javascript" src="{% static 'js/propeller.js'%}"></script>
<script>
    new Propeller(document.getElementById('wrapper'), {inertia: 1});
    
</script>
</body>
</html>
