body{
 width: 1280px;
  height: 750px;
  overflow: hidden;	
}

#wrapper1 {
  width: 530px;
  height: 530px;
  position: relative;
  margin: 110px auto;
   border-radius: 50%;
 background: red;
}
.circle {
  position: absolute;
  top: 200px;
  left: 200px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  opacity: 0.7;
}


@-webkit-keyframes movetocenter {


    from {  
    }
    to {
            -webkit-transform:translate(0px,0px);
            -webkit-transform:scale(2,2);
    }
}

@-moz-keyframes movetocenter {


    from {  
    }
    to {
            -moz-transform:translate(0px,0px);
            -moz-transform:scale(2,2);
    }
}

